---
permalink: /registry.json
eleventyExcludeFromCollections: true
---
{"publisher":{{ site.org.name | dump | safe }},"url":{{ site.url | dump | safe }},"license":"https://creativecommons.org/licenses/by/4.0/","demo":{{ "true" if site.isDemo else "false" }},"updated":{{ site.last_update | dump | safe }},"methodology_version":{{ site.methodology_version | dump | safe }},"watchlist_version":{{ site.watchlist_version | dump | safe }},"count":{{ claims | length }},"claims":[{% for claim in claims %}{{ claim.raw | dump | safe }}{% if not loop.last %},{% endif %}{% endfor %}]}
