---
permalink: /.well-known/security.txt
eleventyExcludeFromCollections: true
---
Contact: mailto:{{ site.org.email.research }}
Expires: {{ securityExpires }}
Preferred-Languages: en, uk
Canonical: {{ site.url }}/.well-known/security.txt
Policy: {{ site.url }}/escalations/
