{%- set homeItems = [] -%}
{%- for item in listedClaims -%}
{%- set homeItems = (homeItems.push({ "@type": "ListItem", "position": loop.index, "url": site.url + item.url, "name": item.title }), homeItems) -%}
{%- endfor -%}
{%- set jsonldList = {
  "@context": "https://schema.org",
  "@type": "ItemList",
  "name": "Recently updated claims",
  "numberOfItems": listedClaims | length,
  "itemListElement": homeItems
} -%}
<script type="application/ld+json">{{ jsonldList | compact | jsonld | safe }}</script>
