---
pagination:
  data: localised.facets
  size: 1
  alias: entry
layout: layouts/base.njk
schemas:
  - collectionpage
permalink: "{{ entry.url }}"
---
<div class="phead">
  <h1>{{ facetHeading }}</h1>
  <p class="plead">{{ facetIntro }}</p>
</div>

{%- set activeFacet = facet %}
{% include "partials/registry-filters.njk" %}

{%- set tableClaims = facet.claims %}
{%- set tableCaption = "Claims in this view, most recently updated first" %}
{%- set sortedByUpdated = true %}
{% include "partials/claims-table.njk" %}

<div class="exports">
  <a href="{{ '/registry/' | url }}">All {{ claims | length }} {{ claims | length | plural("claim", "claims") }} in the registry</a>
</div>
