---
pagination:
  data: localised.facets
  size: 1
  alias: entry
layout: layouts/base.njk
schemas:
  - collectionpage
permalink: "{{ entry.url }}"
---
<h1>{{ facetHeading }}</h1>
<p class="lede">{{ facetIntro }}</p>
{% include "partials/updated.njk" %}
{% set tableClaims = facet.claims %}
{% set tableCaption = 'caption.facetClaims' | t %}
{% include "partials/claims-table.njk" %}
<p><a href="{{ '/registry/' | loc(lang) | url }}">{{ 'action.allInRegistry' | t(claims | length) }}</a></p>
