<!doctype html>
<html lang="{{ lang | default('en') }}">
<head>
{% include "partials/head.njk" %}
</head>
<body>
<a class="skip-link" href="#main">Skip to content</a>
{% include "partials/demo-banner.njk" %}
{% include "partials/nav.njk" %}
<main id="main">
<div class="{{ wrap | default('wrap') }}">
{% include "partials/crumbs.njk" %}
{{ content | safe }}
</div>
</main>
{%- set pageHasMarks = ("botmark" in content) or ("class=\"mini" in content) or ("class=\"pmark" in content) %}
{% include "partials/footer.njk" %}
</body>
</html>
