<!doctype html>
<html lang="{{ lang | default('en') }}">
<head>
{% include "partials/head.njk" %}
</head>
<body>
<a class="skip-link" href="#main">Skip to content</a>
{% include "partials/nav.njk" %}
<main id="main">
{% include "partials/breadcrumbs.njk" %}
{{ content | safe }}
</main>
{% include "partials/footer.njk" %}
</body>
</html>
