---
layout: layouts/base.njk
wrap: wrap-narrow
---
<div class="phead"><h1>{{ h1 }}</h1>
  <p class="plead">{{ doc.introText | mdInline | safe }}</p></div>

<div class="prose">
{{ content | safe }}
</div>
<div style="height:40px"></div>
