---
layout: layouts/base.njk
wrap: wrap-narrow
---
<div class="phead"><h1>{{ h1 }}</h1>
  <p class="plead">{{ doc.data.lead | mdInline | safe }}</p></div>
{{ content | safe }}
<div class="prose">
{{ doc.html | fill(figures | default({})) | prefixLinks | safe }}
</div>
<div style="height:40px"></div>
