---
layout: layouts/page.njk
schemas:
  - datacatalog
pageKey: data
pagination:
  data: build.languages
  alias: lang
  size: 1
permalink: "{{ '/data/' | loc(lang) }}"
crumbs:
  - key: crumb.data
    url: /data/
---
{% include "partials/translation-notice.njk" %}
<p class="lede">{{ doc.introText }}</p>

{% if datasets.all | length %}
<h2 id="downloads">{{ 'section.downloads' | t }}</h2>
<div class="table-wrap">
<table>
  <caption>{{ 'caption.datasets' | t }}</caption>
  <thead>
    <tr><th scope="col">{{ 'col.dataset' | t }}</th><th scope="col">{{ 'col.format' | t }}</th><th scope="col">{{ 'col.contains' | t }}</th></tr>
  </thead>
  <tbody>
  {% for item in datasets.all %}
    <tr>
      <th scope="row"><a href="{{ item.url | url }}">{{ item.name }}</a></th>
      <td>{{ item.format }}</td>
      <td>{{ item.description }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endif %}

{% for id in doc.order %}
{% set section = doc.sections[id] %}
<h2 id="{{ section.id }}">{{ section.title }}</h2>
{{ section.html | safe }}
{% endfor %}

<h2 id="cite">{{ 'section.cite' | t }}</h2>
<p class="cite-block">{{ site.org.name }} ({{ site.last_update | year }}). Registry of Russian disinformation in AI chatbot answers. Version {{ site.watchlist_version }}. {{ site.url }}/data/</p>
<p class="cite-block">@misc{ {{- site.org.name | lower }}{{ site.last_update | year }},
  author = { {{- site.org.name -}} },
  title  = {Registry of Russian disinformation in AI chatbot answers},
  year   = { {{- site.last_update | year -}} },
  url    = { {{- site.url }}/data/}
}</p>
<p>{{ 'misc.citeQuestions' | t }} <a href="mailto:{{ site.org.email.research }}">{{ site.org.email.research }}</a></p>
