---
layout: layouts/base.njk
schemas:
  - dataset
pageKey: escalations
pagination:
  data: build.languages
  alias: lang
  size: 1
permalink: "{{ '/escalations/' | loc(lang) }}"
crumbs:
  - key: crumb.escalations
    url: /escalations/
---
<h1>{{ h1 }}</h1>
{% include "partials/translation-notice.njk" %}
<p class="lede">{{ doc.introText }} {{ 'misc.escalationCounts' | t(escalations | length, site.counters.escalations_sent, site.counters.escalations_answered) }}{% if site.counters.median_response_days %} {{ 'misc.medianResponse' | t(site.counters.median_response_days) }}{% endif %}</p>
{% include "partials/updated.njk" %}

<h2 id="summary">{{ 'section.summary' | t }}</h2>
<ul class="counters">
  <li><b>{{ escalations | length }}</b><span>{{ 'counter.actionsLogged' | t }}</span></li>
  <li><b>{{ site.counters.escalations_sent }}</b><span>{{ 'counter.reportsSent' | t }}</span></li>
  <li><b>{{ site.counters.escalations_answered }}</b><span>{{ 'counter.answered' | t }}</span></li>
  <li><b>{{ site.counters.escalations_actioned }}</b><span>{{ 'counter.confirmedChanges' | t }}</span></li>
</ul>

<h2 id="by-type">{{ 'section.byType' | t }}</h2>
<div class="table-wrap">
<table>
  <caption>{{ 'caption.actionsByType' | t }}</caption>
  <thead><tr><th scope="col">{{ 'col.action' | t }}</th><th scope="col" class="num">{{ 'col.count' | t }}</th></tr></thead>
  <tbody>
  {% for type, items in escalations | groupby("type") %}
    <tr><th scope="row">{{ type | actionTypeLabel }}</th><td class="num">{{ items | length }}</td></tr>
  {% endfor %}
  </tbody>
</table>
</div>

<h2 id="log">{{ 'section.log' | t }}</h2>
<div class="table-wrap">
<table>
  <caption>{{ 'caption.escalationLog' | t }}</caption>
  <thead>
    <tr>
      <th scope="col">{{ 'col.date' | t }}</th>
      <th scope="col">{{ 'col.action' | t }}</th>
      <th scope="col">{{ 'col.to' | t }}</th>
      <th scope="col">{{ 'col.claim' | t }}</th>
      <th scope="col">{{ 'col.status' | t }}</th>
      <th scope="col">{{ 'col.response' | t }}</th>
    </tr>
  </thead>
  <tbody>
  {% for item in escalations %}
    {% set claim = claims | whereEq('id', item.claim_id) | first %}
    <tr>
      <td><time datetime="{{ item.date | isoDate }}">{{ item.date | displayDate }}</time></td>
      <th scope="row">{{ item.type | actionTypeLabel }}</th>
      <td>{% if item.url %}<a href="{{ item.url | url }}">{{ item.target }}</a>{% else %}{{ item.target }}{% endif %}</td>
      <td>{% if claim %}<a href="{{ claim.url | loc(lang) | url }}">{{ item.claim_id }}</a>{% else %}{{ item.claim_id }}{% endif %}</td>
      <td>{{ item.status | statusLabel }}</td>
      <td>{% if item.response_date %}<time datetime="{{ item.response_date | isoDate }}">{{ item.response_date | displayDate }}</time>{% else %}{{ 'value.dash' | t }}{% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% for id in doc.order %}
{% set section = doc.sections[id] %}
<h2 id="{{ section.id }}">{{ section.title }}</h2>
{{ section.html | safe }}
{% endfor %}
