---
layout: layouts/base.njk
pageKey: monitor
pagination:
  data: build.languages
  alias: lang
  size: 1
permalink: "{{ '/monitor/' | loc(lang) }}"
crumbs:
  - key: crumb.reports
    url: /monitor/
---
<h1>{{ h1 }}</h1>
{% include "partials/translation-notice.njk" %}
<p class="lede">{{ doc.introText }}</p>
{% include "partials/updated.njk" %}

{% if reports | length %}
<h2 id="reports">{{ 'section.reports' | t }}</h2>
<div class="table-wrap">
<table>
  <caption>{{ 'caption.reports' | t }}</caption>
  <thead>
    <tr>
      <th scope="col">{{ 'col.report' | t }}</th>
      <th scope="col">{{ 'col.publishedOn' | t }}</th>
      <th scope="col" class="num">{{ 'col.answers' | t }}</th>
      <th scope="col">{{ 'col.chatbots' | t }}</th>
      <th scope="col">{{ 'col.countries' | t }}</th>
    </tr>
  </thead>
  <tbody>
  {% for item in reports %}
    {% set stats = runs.summariseRuns(item.runs) %}
    <tr>
      <th scope="row"><a href="{{ ('/monitor/' + item.slug + '/') | loc(lang) | url }}">{{ item.title_en }}</a></th>
      <td><time datetime="{{ item.date | isoDate }}">{{ item.date | displayDate }}</time></td>
      <td class="num">{{ stats.answers }}</td>
      <td>{{ stats.chatbots | length }}</td>
      <td>{% for code in stats.countries %}{{ code | upper }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endif %}

{% for id in doc.order %}
{% set section = doc.sections[id] %}
<h2 id="{{ section.id }}">{{ section.title }}</h2>
{{ section.html | safe }}
{% endfor %}
