---
layout: layouts/base.njk
pageKey: platforms
pagination:
  data: build.languages
  alias: lang
  size: 1
permalink: "{{ '/platforms/' | loc(lang) }}"
crumbs:
  - key: crumb.chatbots
    url: /platforms/
---
<h1>{{ h1 }}</h1>
{% include "partials/translation-notice.njk" %}
<p class="lede">{{ doc.introText }}</p>
{% include "partials/updated.njk" %}

<h2 id="chatbots">{{ 'section.chatbotsWeTest' | t }}</h2>
<div class="table-wrap">
<table>
  <caption>{{ 'caption.platformIndex' | t }}</caption>
  <thead>
    <tr>
      <th scope="col">{{ 'col.chatbot' | t }}</th><th scope="col">{{ 'col.company' | t }}</th>
      <th scope="col" class="num">{{ 'col.answers' | t }}</th><th scope="col" class="num">{{ 'col.repeated' | t }}</th>
      <th scope="col" class="num">{{ 'col.refuted' | t }}</th><th scope="col" class="num">{{ 'col.dodged' | t }}</th>
      <th scope="col" class="num">{{ 'col.citedWatchlisted' | t }}</th>
    </tr>
  </thead>
  <tbody>
  {% for item in profiles.chatbots %}
    <tr>
      <th scope="row"><a href="{{ item.url | loc(lang) | url }}">{{ item.name }}</a></th>
      <td>{{ item.company }}</td>
      <td class="num">{{ item.stats.answers }}</td>
      <td class="num">{{ item.stats.repeated }}</td>
      <td class="num">{{ item.stats.refuted }}</td>
      <td class="num">{{ item.stats.dodged }}</td>
      <td class="num">{{ item.stats.contaminated }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% for id in doc.order %}
{% set section = doc.sections[id] %}
<h2 id="{{ section.id }}">{{ section.title }}</h2>
{{ section.html | safe }}
{% endfor %}
