---
layout: layouts/base.njk
schemas:
  - dataset
pageKey: sources
pagination:
  data: build.languages
  alias: lang
  size: 1
permalink: "{{ '/sources/' | loc(lang) }}"
crumbs:
  - key: crumb.sources
    url: /sources/
---
<h1>{{ h1 }}</h1>
{% include "partials/translation-notice.njk" %}
<p class="lede">{{ doc.introText }} {{ 'misc.watchlistVersion' | t(sources | length, site.watchlist_version) }}</p>
{% include "partials/updated.njk" %}

{% set networks = sources | groupby("network") %}
{% for network, items in networks %}
<h2 id="network-{{ network }}">{{ network | networkLabel }}</h2>
<div class="table-wrap">
<table>
  <caption>{{ 'caption.watchlist' | t(network | networkLabel) }}</caption>
  <thead>
    <tr>
      <th scope="col">{{ 'col.domain' | t }}</th>
      <th scope="col">{{ 'col.firstSeen' | t }}</th>
      <th scope="col" class="num">{{ 'col.claims' | t }}</th>
      <th scope="col">{{ 'col.citedBy' | t }}</th>
      <th scope="col">{{ 'col.complaint' | t }}</th>
    </tr>
  </thead>
  <tbody>
  {% for source in items %}
    <tr>
      <th scope="row"><a href="{{ source.url | loc(lang) | url }}"><span class="domain">{{ source.defanged }}</span></a></th>
      <td><time datetime="{{ source.first_seen | isoDate }}">{{ source.first_seen | displayDate }}</time></td>
      <td class="num">{{ source.citedCount }}</td>
      <td>{% if source.citedBy | length %}{% for bot in source.citedBy %}{{ bot | chatbotLabel }}{% if not loop.last %}, {% endif %}{% endfor %}{% else %}{{ 'value.notRecorded' | t }}{% endif %}</td>
      <td>{% if source.complaintStatus %}{{ source.complaintStatus | statusLabel }}{% else %}{{ 'value.noneFiled' | t }}{% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endfor %}

{% for id in doc.order %}
{% set section = doc.sections[id] %}
<h2 id="{{ section.id }}">{{ section.title }}</h2>
{{ section.html | safe }}
{% endfor %}
