<div class="table-wrap">
<table>
  <caption>{{ 'caption.beforeAfter' | t }}</caption>
  <thead>
    <tr>
      <th scope="col">{{ 'col.chatbot' | t }}</th>
      <th scope="col">{{ 'col.persona' | t }}</th>
      <th scope="col" class="num">{{ 'col.before' | t }}</th>
      <th scope="col">{{ 'col.measured' | t }}</th>
      <th scope="col" class="num">{{ 'col.after' | t }}</th>
      <th scope="col">{{ 'col.remeasured' | t }}</th>
      <th scope="col" class="num">{{ 'col.change' | t }}</th>
    </tr>
  </thead>
  <tbody>
  {% for row in claim.before_after %}
    <tr>
      <th scope="row">{{ row.chatbot | chatbotLabel }}</th>
      <td data-persona="{{ row.before.persona }}">{{ row.before.persona | default('value.notRecorded' | t) }}</td>
      <td class="num">{{ row.before.rate | rate }} <small>(n={{ row.before.n }})</small></td>
      <td><time datetime="{{ row.before.date | isoDate }}">{{ row.before.date | displayDate }}</time>{% if row.before.model_version %}, {{ row.before.model_version }}{% endif %}</td>
      <td class="num">{{ row.after.rate | rate }} <small>(n={{ row.after.n }})</small></td>
      <td><time datetime="{{ row.after.date | isoDate }}">{{ row.after.date | displayDate }}</time>{% if row.after.model_version %}, {{ row.after.model_version }}{% endif %}</td>
      <td class="num">{{ (row.after.rate - row.before.rate) | pp }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
<p class="note">{{ 'note.causation' | t }}</p>
