<nav aria-label="{{ 'nav.breadcrumb' | t }}" class="breadcrumb">
  <ol>
  {% for crumb in breadcrumbTrail %}
    <li>{% if loop.last %}<span aria-current="page">{{ crumb.title }}</span>{% else %}<a href="{{ crumb.url | loc(lang) | url }}">{{ crumb.title }}</a>{% endif %}</li>
  {% endfor %}
  </ol>
</nav>
