<div class="table-wrap">
<table>
  <caption>{{ tableCaption }}</caption>
  <thead>
    <tr>
      <th scope="col">{{ 'col.claim' | t }}</th>
      <th scope="col">{{ 'col.verdict' | t }}</th>
      <th scope="col">{{ 'col.repeatedBy' | t }}</th>
      <th scope="col">{{ 'col.countries' | t }}</th>
      <th scope="col">{{ 'col.escalation' | t }}</th>
      <th scope="col">{{ 'col.updated' | t }}</th>
    </tr>
  </thead>
  <tbody>
  {% for item in tableClaims %}
    <tr>
      <th scope="row"><a href="{{ item.url | loc(lang) | url }}">{{ item.title_en }}</a></th>
      <td><span class="badge badge-verdict badge-{{ item.verdict }}">{{ item.verdict | verdictLabel }}</span></td>
      <td>{% if item.repeatedBy | length %}{% for bot in item.repeatedBy %}{{ bot | chatbotLabel }}{% if not loop.last %}, {% endif %}{% endfor %}{% else %}{{ 'value.none' | t }}{% endif %}</td>
      <td>{% for code in item.countries %}{{ code | upper }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
      <td>{% if item.escalationStatus %}{{ item.escalationStatus | statusLabel }}{% else %}{{ 'value.notReported' | t }}{% endif %}</td>
      <td><time datetime="{{ item.updated | isoDate }}">{{ item.updated | displayDate }}</time></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
