<div class="table-wrap">
<table class="observations">
  <caption>{{ 'caption.observations' | t }}</caption>
  <thead>
    <tr>
      <th scope="col">{{ 'col.chatbot' | t }}</th>
      <th scope="col">{{ 'col.country' | t }}</th>
      <th scope="col">{{ 'col.language' | t }}</th>
      <th scope="col">{{ 'col.persona' | t }}</th>
      <th scope="col">{{ 'col.date' | t }}</th>
      <th scope="col">{{ 'col.modelVersion' | t }}</th>
      <th scope="col">{{ 'col.behaviour' | t }}</th>
      <th scope="col">{{ 'col.citedDomains' | t }}</th>
    </tr>
  </thead>
  <tbody>
  {% for observation in claim.observations %}
    <tr>
      <th scope="row">{{ observation.chatbot | chatbotLabel }}</th>
      <td>{{ observation.country | countryName }}</td>
      <td>{{ observation.language | languageName }}</td>
      <td data-persona="{{ observation.persona }}">{{ observation.persona }}</td>
      <td><time datetime="{{ observation.date | isoDate }}">{{ observation.date | displayDate }}</time></td>
      <td>{{ observation.model_version | default('value.notReported' | t) }}</td>
      <td><span class="badge badge-{{ observation.behaviour }}">{{ observation.behaviour | behaviourLabel }}</span></td>
      <td>{% if observation.cited_domains | length %}{% for domain in observation.cited_domains %}<span class="domain">{{ domain | defang }}</span>{% if not loop.last %}, {% endif %}{% endfor %}{% else %}{{ 'value.none' | t }}{% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
<p class="note">{{ 'note.persona' | t }}</p>
